/*************************************************
    GENERAL STYLES
 *************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
}

/* Contenitore con margine vario*/
.margin-container {
    margin: 15px;
}

/*************************************************
    STILI CONTROLLER
 *************************************************/
#controller {
    height: 100px;
    background-color: #282828;
}

/*************************************************
    STILI CONTAINER DEL CORPO PRINCIPALE DELLA PAGINA
 *************************************************/
#wrapper-up {
    height: calc(100vh - 100px);
    /* background-color: blue; */
    display: flex;
}

/*************************************************
    SIDE BAR
 *************************************************/
#sidebar {
    /* SET UP PRINCIPALE */
    width: 250px;
    height: 100%;
    background-color: #000000;
}

.icon {
    width: 150px;
}

.sidebar-list {
    margin: 20px 0;
}

.sidebar-list img {
    width: 25px;
    top: 6px;
    position: relative;
    margin-right: 5px
}

#sidebar li {
    list-style: none;
    line-height: 2;
}

#sidebar a {
    text-decoration: none;
    color: white;
    opacity: 0.5;
    font-size: 15px;
}

/*************************************************
    MAIN-PART CONTENITORE PRINCIPALE
 *************************************************/
#main-part {
    /* width: calc(100% - 250px); */
    flex-grow: 1;
    height: 100%;
    background-color: #141922;
}

/*************************************************
    TOP BAR CON EFFETTUA L'UPGRADE
 *************************************************/
#topside-upgrade {
    height: 80px;
    width: 100%;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#topside-upgrade a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 20px;
    border: 1px solid white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-right: 5px;
}








/*************************************************
    LARGE LAYOUT
 *************************************************/

/*************************************************
    MID LAYOUT
 *************************************************/

/*************************************************
    SMALL LAYOUT
 *************************************************/

/*************************************************
    EXTRA-SMALL LAYOUT
 *************************************************/