/*************************************************
    GENERAL STYLES
 *************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
}


/*************************************************
    STILI CONTROLLER
 *************************************************/
#controller {
    height: 100px;
    background-color: #282828;
}

/*************************************************
    STILI CONTAINER DEL CORPO PRINCIPALE DELLA PAGINA
 *************************************************/
#wrapper-up {
    height: calc(100vh - 100px);
    /* background-color: blue; */
    display: flex;
}

/*************************************************
    SIDE BAR
 *************************************************/
#sidebar {
    width: 200px;
    height: 100%;
    background-color: #000000;
}

/*************************************************
    MAIN-PART CONTENITORE PRINCIPALE
 *************************************************/
#main-part {
    /* width: calc(100% - 250px); */
    flex-grow: 1;
    height: 100%;
    background-color: #141922;
}

/*************************************************
    TOP BAR CON EFFETTUA L'UPGRADE
 *************************************************/
#topside-upgrade {
    height: 80px;
    width: 100%;
    background-color: black;
    opacity: 0.4;
}








/*************************************************
    LARGE LAYOUT 
 *************************************************/

/*************************************************
    MID LAYOUT
 *************************************************/

/*************************************************
    SMALL LAYOUT 
 *************************************************/

/*************************************************
    EXTRA-SMALL LAYOUT
 *************************************************/