/*************************************************
    GENERAL STYLES
 *************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
}

/* Contenitore con padding vario*/
.padding-container {
    padding: 15px;
}

/*************************************************
    STILI CONTROLLER
 *************************************************/
#controller {
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    /* position: fixed;
    width: 100%; */
}

/* LEFT SIDE */
.left-side {
    display: flex;
    width: 25%;
}

.about_song a {
    text-decoration: none;
    color: white;
    opacity: 0.5;
    font-size: 10px;
    font-weight: 600;
}

.about_song h5 {
    color: white;
}

.about_song {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px 0 10px;
}

.left-side img {
    width: 70px;
}

.song_interaction {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.song_interaction a {
    margin: 0 5px;
    color: white;
    opacity: 0.5;
}

/* PARTE CENTRALE */
.middle-part {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.player_interaction a {
    color: white;
    font-size: 20px;
    padding: 0 10px;
}

.player_interaction {
    height: 50%;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-circle-play {
    padding: 0 20px;
}

/* Barra di scorrimento della canzone */
.player_bar {
    height: 50%;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player_bar span {
    color: white;
    font-size: 10px;
    font-weight: 600;
}

.bar {
    width: 70%;
    height: 5px;
    background-color: #5a5a5a;
    margin: 0 20px;
    border-radius: 20px;
    cursor: pointer;
}

.scorrimento_bar {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 20%;
    height: 5px;
    background-color: #c1c1c1;
    border-radius: 20px;
}

.bar:hover .fa-circle {
    display: block;
}

.fa-circle {
    align-self: center;
    color: white;
    display: none;
}

/* RIGHT SIDE */
.right-side {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.macro_interaction {
    display: flex;
}

.right-side .bar {
    width: 40%;
}

.macro_interaction a {
    color: white;
    margin: 0 5px;
}

/*************************************************
    STILI CONTAINER DEL CORPO PRINCIPALE DELLA PAGINA
 *************************************************/
#wrapper-up {
    height: calc(100vh - 100px);
    /* background-color: blue; */
    display: flex;
}

/*************************************************
    SIDE BAR CONTENITORE PRINCIPALE
 *************************************************/
#sidebar {
    /* SET UP PRINCIPALE */
    width: 250px;
    height: 100%;
    background-color: #000000;
    position: relative;
}

/* Icona spotify */
.icon {
    width: 150px;
}

/* Nav con "home" "cerca" "la tua libreria" */
.sidebar-utility {
    margin: 20px 0;
}

.sidebar-utility img {
    width: 25px;
    margin-right: 5px
}

/* Stili section playlist */
h4 {
    color: white;
    margin-bottom: 10px;
    font-size: 15px;
}

.playlist li :first-child {
    margin-bottom: 5px;
}

.fa-plus {
    font-size: 20px;
    padding: 10px;
    color: #000000;
    background-color: #a3a3a3;
    margin-right: 10px;
}

/* STILI GENERALI SIDE BAR */
#sidebar li {
    list-style: none;
    line-height: 2;
}

#sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    opacity: 0.5;
    font-size: 14px;
}

/* Stili sezione DOWNLOAD ED USER */

.download_user img {
    width: 15px;
    margin-right: 5px;
}

.download_user {
    position: absolute;
    bottom: 0;
}

.download_user span img {
    width: 20px;
    margin-right: 10px;
    background-color: gray;
    border-radius: 50%;
}

.download_user span {
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.download_user a {
    margin: 10px 0;
}

/*************************************************
    MAIN-PART CONTENITORE PRINCIPALE
 *************************************************/
#main-part {
    /* width: calc(100% - 250px); */
    flex-grow: 1;
    height: 100%;
    background-color: #141922;
}

/*************************************************
    TOP BAR CON EFFETTUA L'UPGRADE
 *************************************************/
#topside-upgrade {
    height: 80px;
    width: 100%;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#topside-upgrade a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 20px;
    border: 1px solid white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-right: 5px;
}








/*************************************************
    LARGE LAYOUT
 *************************************************/
/* @media all and (min-width: 481px) {
    .hidden {
        display: none;
    }
} */

/*************************************************
    MID LAYOUT
 *************************************************/


/*************************************************
    SMALL LAYOUT
 *************************************************/


/*************************************************
    EXTRA-SMALL LAYOUT
 *************************************************/

/* @media all and (max-width:480px) {
    .sidebar-utility a {
        display: none;
    }

    .playlist {
        display: none;
    }

    .download_user {
        display: none;
    }

    .hidden {
        display: block;
    }

    #sidebar {
        width: 80px;
    }
}*/